<!-- LOGIN APP -->
<div class=" col-md-12 text-center">
    <img class="my-4 text-center" src="/images/logo.png" alt="">
</div>
<div class="d-flex justify-content-center mt-4">

    <form action="/login" method="POST" class="form-signin col-md-3">
        <h1 class="h3 mb-3 font-weight-normal">Por favor inicia sesión</h1>
        <label class="sr-only">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" required
            autofocus="">
        <label class="sr-only">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdame
            </label>
        </div>
        <button class="btn btn-lg btn-success btn-block">Iniciar sesión</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2019</p>
    </form>
</div>