<div class="container my-5">
    <h1 class="text-center my-5 display-5"> SOLICITA TU PRESTAMO </h1>
    <div class="row">
        <div class="col-md-6 mb-5">
            <h1 class="text-success mb-5 text-center"> Fácil y Rápido </h1>
            <h3 class="text-center">Te prestamos desde <strong class="text-danger"> 50USD a 500USD</strong>, tenemos la
                menor tasa
                de interes del mercado y el plazo mas amplio, con un rango de <strong class="text-danger">6 a 72
                    meses</strong>.</h3>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <form action="/register" method="POST" >
                <div class="form-group">
                    <h2 class="mb-4 text-center">Fomulario de solicitud</h2>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                        placeholder="Nombres y Apellidos"  name="name" >

                </div>
                <div class="form-group">
                    <input name="identification" type="number" class="form-control"
                        placeholder="Numero de Indentificacíon" required>
                </div>
                <div class="form-group">
                    <input name="phone" type="number" class="form-control" placeholder="Celular" >
                </div>
                <div class="form-group">
                    <input name="lean" type="number" class="form-control" placeholder="Valor" >
                </div>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="Correo Electrónico" >
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Aceptas términos y condiciones</label>
                </div class="form-group">
                    <div class="text-center mt-4">
        <button type="submit" class="btn btn-outline-success btn-lg">REGISTRATE Y SOLICITA PRESTAMO AHORA</button>
    </div>
            </form>
        </div>
    </div>

</div>